/Resources/collision_data_clean.csv filter=lfs diff=lfs merge=lfs -text
/Resources/collision_geo_data_clean.csv filter=lfs diff=lfs merge=lfs -text
/data_cleaning_process/collision_geo_data_cleaning.ipynb filter=lfs diff=lfs merge=lfs -text
/Resources/collision_db.sqlite filter=lfs diff=lfs merge=lfs -text
/Resources/nyc_geojson_by_zip.json filter=lfs diff=lfs merge=lfs -text
/Resources/past_weather_ny.csv filter=lfs diff=lfs merge=lfs -text
/Resources/NewYork_DemographicsByZipCode.xlsx filter=lfs diff=lfs merge=lfs -text
/static/data/nyc_geojson_by_zip.json filter=lfs diff=lfs merge=lfs -text
/data_cleaning_process/loading_data.ipynb filter=lfs diff=lfs merge=lfs -text
/Resources/weather_2022.csv filter=lfs diff=lfs merge=lfs -text
/static/data/nyc_geojson_by_zip_with_counts.json filter=lfs diff=lfs merge=lfs -text
/data_cleaning_process/collision_data_cleaning.ipynb filter=lfs diff=lfs merge=lfs -text
/Resources/collision_2022.csv filter=lfs diff=lfs merge=lfs -text
/Resources/collision_2022_classified.csv filter=lfs diff=lfs merge=lfs -text
/data_cleaning_process/collisions_EDA_plots.ipynb filter=lfs diff=lfs merge=lfs -text
/modeling/classification.ipynb filter=lfs diff=lfs merge=lfs -text
/static/images/accidents_by_time_analysis.png filter=lfs diff=lfs merge=lfs -text
/static/images/daily_crash_counts.png filter=lfs diff=lfs merge=lfs -text
/static/images/heatmap_by_month_hour.png filter=lfs diff=lfs merge=lfs -text
/static/images/heatmap_by_weekday_hour.png filter=lfs diff=lfs merge=lfs -text
/static/images/top_contributing_factors.png filter=lfs diff=lfs merge=lfs -text
/data_cleaning_process/weather_collision_EDA.ipynb filter=lfs diff=lfs merge=lfs -text
/Resources/allzipcodes_collision_weather_df.csv filter=lfs diff=lfs merge=lfs -text
/Resources/collision_2022_classified_new.csv filter=lfs diff=lfs merge=lfs -text
/Resources/collision_weather.csv filter=lfs diff=lfs merge=lfs -text
/data_cleaning_process/clustering.ipynb filter=lfs diff=lfs merge=lfs -text
/data_cleaning_process/weather_zipcode_plots.ipynb filter=lfs diff=lfs merge=lfs -text
