/* General styles for the body and html to set background and text color */
body,
html {
    height: 100%;
    margin: 0;
    background-color: #000000;
    /* Deep black background */
    color: #fff;
    /* High contrast text */
}

/* Styles for the custom navbar */
.navbar-custom {
    background-color: #000000;
    /* Deep black navbar */
}

/* Styles for navbar brand and links */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
    color: #ffffff;
    /* High contrast text for navbar */
}

/* Hover effect for navbar brand and subtitle */
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:hover .subtitle {
    color: rgb(184, 110, 110);
    /* Color change on hover */
    text-decoration: none;
    /* No underline on hover */
}

/* Hover effect for navbar links */
.navbar-custom .navbar-nav .nav-link:hover {
    color: rgb(184, 110, 110);
    /* Color change on hover */
    text-decoration: underline;
    /* Underline on hover */
}

/* Styles for navbar brand */
.navbar-brand {
    font-family: 'Times New Roman', serif;
    font-size: 1.5em;
}

/* Styles for subtitle within the navbar brand */
.navbar-brand .subtitle {
    font-size: 0.75em;
}

/* Styles for the vertical line separator */
.vertical-line {
    border-left: 2px solid white;
    height: 40px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

/* Styles for the secondary brand in the navbar */
.brand-secondary {
    font-family: sans-serif;
    font-size: 1em;
    vertical-align: super;
}

.black-popup .leaflet-popup-content-wrapper {
    background: #000;
    color: #fff;
    border-radius: 0;
    font-family: "Arial", sans-serif;
}

.black-popup .leaflet-popup-content {
    min-width: 300px;
}

.custom-popup h1 {
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 10px;
}

.popup-section {
    padding: 10px;
    text-align: center;
}

.popup-section img {
    width: 100%;
    height: auto;
    max-height: 200px;
}

.popup-footer {
    font-size: 0.8em;
    text-align: left;
}

.infographic-header {
    color: white;
    text-align: center;
    padding-top: 100px;
}

.infographic-header h1 {
    margin: 0;
    padding: 0pt;
    font-size: 2em;
}

.infographic-header .location {
    font-size: 1em;
    font-weight: bold;
    margin-top: -15px;
}

.header-divider {
    border: 0;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.75);
    margin: 20px 25%;
}

.pie-chart-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 250px;
}

.small-pie-chart {
    padding-top: 30px;
    padding-left: 20px;
    width: 125px;
    height: 125px;
    margin: 0 5px;
}