<!DOCTYPE html>
<html>

<head>
    <title>Motor Collision - Columbia University</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

    <!-- Leaflet JS -->
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

    <!-- D3 library -->
    <script src="https://d3js.org/d3.v6.min.js"></script>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>


<body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-custom fixed-top">
        <div class="container-fluid">
            <!-- Branding and logo: update the href to link to Columbia University's page if desired -->
            <a class="navbar-brand" href="https://www.columbia.edu/" style="line-height: 1;">
                <div>Columbia University</div>
                <div class="subtitle">in the city of New York</div>
            </a>
            <div class="vertical-line"></div>
            <a class="navbar-brand brand-secondary">Motor Vehicle Collision Dashboard</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/analysis_board">Analysis Board</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/api">API Documentation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid" style="padding-top: 100px;">








        <div class="row">


            <!-- Weather & Total Accident Counts-->
            <div class="col-md-3 col-sm-6 column-custom">
                <div class="card card-custom">
                    <img src="static\images\weather_totalcount.png" class="card-img-top card-img-custom"
                        alt="Weather & Total Accident Counts">
                    <div class="card-body">
                        <h5 class="card-title">Weather & Total Accident Counts</h5>
                        <p class="card-text">Analyzing the Influence of Weather, Temperature, and Precipitation on Traffic Accident Trends in New York City During 2022</p>
                        <!-- Button trigger modal -->
                        <a href="#" class="btn btn-light" data-toggle="modal" data-target="#analysisModal1">View More
                            Analysis</a>

                        <!-- Modal -->
                        <div class="modal fade" id="analysisModal1" tabindex="-1" role="dialog"
                            aria-labelledby="analysisModalLabel1" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document"> <!-- Use modal-lg or modal-xl here -->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="analysisModalLabel1">Weather & Total Accident Counts</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h5 class="modal-subtitle">Impact of Weather Conditions on Total Accident Counts</h5>
                                        <img src="static/images/weather_totalcount.png" class="img-fluid">
                                        <p class="indented-text">The boxplots depict how accident numbers in New York City during 
                                            2022 varied across various weather conditions. Rain and cloudy weather show a wide range 
                                            of accident counts, with rain exhibiting some outliers, indicating occasional spikes in 
                                            accident numbers during such weather. Clear days have a relatively compact distribution 
                                            but with a slight skew towards higher accident counts. Snowy conditions, while having 
                                            fewer accidents overall, display a tight distribution with fewer outliers, suggesting a 
                                            more consistent accident rate during such conditions. Overall, the variability in accident counts is greatest during 
                                            rainy and cloudy weather, which could be due to the impact of these conditions on visibility 
                                            and road surface conditions, affecting driving safety.</p>

                                        <h5 class="modal-subtitle">Impact of Wind Level on Total Accident Counts</h5>
                                        <img src="static/images/wind_totalcounts.png" class="img-fluid">
                                        <img src="static/images/accident_distribution_by_wind_level.png" class="img-fluid">
            


                                        <h5 class="modal-subtitle">Impact of Temperature on Total Accident Counts</h5>
                                        <img src="static/images/temp_totalcounts.png" class="img-fluid">
                                        <img src="static/images/accident_distribution_by_temp_category.png" class="img-fluid">
                                        <p class="indented-text">The boxplots visualize the distribution of crashes across different 
                                            temperature levels during 2022 in New York City. Moderate temperatures seem to have a higher 
                                            median number of crashes compared to other categories, with a notable spread of data points 
                                            indicating variability in crash frequency. Cold temperatures show a similar range of crash 
                                            numbers, with outliers suggesting occasional spikes in crashes during colder weather. 
                                            Freezing temperatures have the smallest interquartile range, indicating more consistent 
                                            crash numbers, while warm and hot temperatures show a wider spread, with warm temperatures 
                                            having a slightly higher median number of crashes. This information could suggest that driver 
                                            behavior or road conditions at moderate to warm temperatures might contribute to higher crash frequencies.</p>
                                        

                                        <h5 class="modal-subtitle">Impact of Precipitation on Total Accident Counts</h5>
                                        <img src="static/images/precip_totalcount.png" class="img-fluid">
                                        <img src="static/images/accident_distribution_by_precip_level.png" class="img-fluid">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-3 col-sm-6 column-custom">
                <!--Distribution of Vehicle Types Involved-->
                <div class="card card-custom">
                    <img src="static\images\accidentcounts_weather_top10.png"
                        class="card-img-top card-img-custom"
                        alt="Weather & Collision Study on Top 10 Accidents-Prone Areas in NYC in 2022">
                    <div class="card-body">
                        <h5 class="card-title">Weather & Collision Study on Top 10 Accidents-Prone Areas in NYC in 2022</h5>
                        <p class="card-text">A Detailed Examination of Traffic Accidents in NYC's Most Hazardous Areas of 2022 </p>
                        <!-- Button trigger modal -->
                        <a href="#" class="btn btn-light" data-toggle="modal" data-target="#analysisModal2">View More
                            Analysis</a>

                        <!-- Modal -->
                        <div class="modal fade" id="analysisModal2" tabindex="-1" role="dialog"
                            aria-labelledby="analysisModalLabel2" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document"> <!-- Use modal-lg or modal-xl here -->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="analysisModalLabel">Weather & Collision Study on Top 10 Accidents-Prone Areas in NYC in 2022</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h5 class="modal-subtitle">Weather-Related Distributions of Traffic Accidents</h5>
                                        <img src="static/images/accidentcounts_weather_top10.png"
                                            class="img-fluid">
                                        <p class="indented-text">These collection of graphs presents a comprehensive view of weather
                                             conditions associated with accident data in top 10 areas with the most traffic accidents
                                              in 2022. </p>
                                        <p class="indented-text">Contrary to our initial assumption that an increase in accidents is likely during adverse weather conditions, the plots reveal an opposing trend that most accidents occur under moderate weather conditions, with extreme weather being less commonly associated with traffic accidents. </p>
                                        <ul style="color: black;">
                                            <li>The precipitation graph indicates that dry conditions are most common during accidents, with a notable decrease in accident counts as precipitation increases. </li>
                                            <li>Temperature-related accidents are fairly distributed across 'Freezing Cold', 'Cold', and 'Moderate' categories, with fewer occurring in 'Warm' and 'Hot' conditions. </li>
                                            <li>High humidity seems to be the most prevalent condition in accidents, suggesting a possible impact on road safety.</li>
                                            <li>Wind levels mostly result in accidents when flags wave or leaves scatter, which are moderate wind conditions. </li>
                                            <li>Snow-related accidents are overwhelmingly more frequent when there is no snow because there were only 18 snowy days in 2022.</li>
                                            <li>Visibility is predominantly high during most accidents, indicating that poor visibility is less commonly a contributing factor. </li>
                                        </ul>
                                        <p class="indented-text">This observation is valid as individuals tend not to go out on days with heavy rain or extreme heat. Notwithstanding with, the plot directs us to model the relative traffic volume between days with favorable and unfavorable weather conditions. </p>

                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-md-3 col-sm-6 column-custom">
                <!--Top 10 Contributing Factors-->
                <div class="card card-custom">
                    <img src="static\images\top_contributing_factors.png" class="card-img-top card-img-custom"
                        alt="Contributing Factors">
                    <div class="card-body">
                        <h5 class="card-title">Contributing Factors</h5>
                        <p class="card-text">Examining the Specific Weather Conditions Affecting Accident Contributing Factors in NYC </p>
                        <!-- Button trigger modal -->
                        <a href="#" class="btn btn-light" data-toggle="modal" data-target="#analysisModal3">View More
                            Analysis</a>

                        <!-- Modal -->
                        <div class="modal fade" id="analysisModal3" tabindex="-1" role="dialog"
                            aria-labelledby="analysisModalLabel3" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document"> <!-- Use modal-lg or modal-xl here -->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="analysisModalLabel1"> Contributing Factors</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h5 class="modal-subtitle">Overall Accident Counts by Contributing Factors</h5>
                                        <img src="static/images/top_contributing_factors.png"
                                            class="img-fluid">
                                        <p class="indented-text">The plot shows a count of accidents sorted by contributing factors, arranged in descending order. The x-axis lists the contributing factors to accidents, while the y-axis quantifies the number of accidents associated with each factor. “Driver inattention/Distraction" is at the greatest height, representing the most prevalent contributing factor to accidents within the dataset. This factor significantly surpasses the others, indicating it is a primary concern for road safety interventions. </p>
                                       
                        
                                        <h5 class="modal-subtitle">Weather Impact on Contributing Factors</h5>
                                        <h6 class="modal-subtitle">with a focus on the top 10 accidents-prone areas</h6>
                                        <img src="static/images/contributingfactors_weather_top10.png" class="img-fluid">
                                        <img src="static/images/contributingfactors_moreweather_top10.png" class="img-fluid">

                                        <h6 class="modal-subtitle">with a focus on nonmotorists-involved accidents</h6>
                                        <img src="static/images/contributingfactors_nonmotorist.png" class="img-fluid">
                                        <p class="indented-text">Driver Inattention/Distraction consistently dominates as a leading factor across all conditions and accident types, maintaining its prominence. On snowy days, Failure to Yield Right-of-Way is also prevalent, constituting 51.77% of pedestrian-involved accidents and 24.64% of cyclist-involved accidents. A noteworthy trend emerges when comparing contributing factors between pedestrians and cyclists, with Bicyclist error taking a more significant role in causing accidents, surpassing Pedestrian error in cases involving nonmotorists. For the rightmost chart, despite variations in contributing factors across different weather conditions for accidents involving both pedestrians and cyclists, the total number of cases is 45, potentially tempering the observable effects shown in this plot.  </p>
                                        <p class="indented-text">We can delve deeper into the impact of additional weather details on accidents involving cyclists, considering some noticeable differences across various weather conditions. In contrast, the plot for pedestrian-involved accidents show few discernible differences. </p>

                                        <h6 class="modal-subtitle">with a focus on cyclists-involved accidents</h6>
                                        <img src="static/images/contributingfactors_cyclists.png" class="img-fluid">
                                        <p class="indented-text">This plot provides a detailed breakdown of the influence of additional weather details on contributing factors to cyclists-involved accidents. It reveals that Bicyclist error/confusion becomes more pronounced on extremely cold days, days characterized by poor visibility, or those with significantly strong wind intensity. These specific weather conditions appear to amplify the role of bicyclist error in contributing to accidents involving cyclists.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





            
            <div class="col-md-3 col-sm-6 column-custom">
                <!-- Accidents by Different Time Aggregation -->
                <div class="card card-custom">
                    <img src="static\images\severity_weather_top10.png" class="card-img-top card-img-custom"
                        alt="Accidents by Time Analaysis">
                    <div class="card-body">
                        <h5 class="card-title">Severity of Accidents</h5>
                        <p class="card-text">A Weather-Centric Analysis of Accident Outcomes in NYC's High-Risk Zones of 2022 </p>
                        <!-- Button trigger modal -->
                        <a href="#" class="btn btn-light" data-toggle="modal" data-target="#analysisModal4">View More
                            Analysis</a>

                        <!-- Modal -->
                        <div class="modal fade" id="analysisModal4" tabindex="-1" role="dialog"
                            aria-labelledby="analysisModalLabel4" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document"> <!-- Use modal-lg or modal-xl here -->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="analysisModalLabel">Severity of Accidents</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h5 class="modal-subtitle">Impact of Weather on the Severity of Accidents</h5>
                                        <h6 class="modal-subtitle">with a focus on the top 10 accidents-prone areas in 2022</h6>
                                        <img src="static/images/severity_weather_top10.png"
                                            class="img-fluid">
                                        <img src="static/images/severity_moreweather_top10.png"
                                            class="img-fluid">
                                        <p class="indented-text">We can discern subtle distinctions among categories. For example, the occurrence of very fatal cases seems to be higher on days with heavy precipitation and higher temperatures compared to days with no rain and milder temperatures. Additionally, within the visibility category, there is a lower frequency of minor cases on days with poor visibility compared to those with clearer visibility. However, we are unable to pinpoint significant differences across categories, and therefore, there are no clear clues regarding the degree of impact weather has on the severity of traffic accidents. </p>
                                       
                        
                                        <h5 class="modal-subtitle">Relative Frequency of Serious Accidents in Nonmotorists-Involved Cases </h5>
                                        <p class="indented-text">We categorize accidents based on the parties involved, including only pedestrians, only cyclists, both pedestrians and motorists, both pedestrians and cyclists, both cyclists and motorists, and cases involving pedestrians, cyclists, and motorists. We exclude accidents involving only motorists due to their high frequency; their inclusion in the graph would overshadow the presence of the other two types of cases.
                                        </p>
                                        <p class="indented-text">Note that we define involvement by whether the party sustains injuries and/or fatalities in the accident. Specifically, our analysis focuses on accidents with a severity level beyond minor, meaning there are injuries and/or fatalities.
                                        </p>
                                        <img src="static/images/details_nonmotorist.png" class="img-fluid">
                                
                                        <p class="indented-text">These adjacent plots display accident counts and the relative frequency of accidents at various severity levels involving nonmotorists. The left plot suggests that pedestrians are more susceptible to injuries in accidents, with the majority involving fewer than 3 people. As the number of parties involved in an accident increases, the severity level tends to rise. Notably, the two accidents involving pedestrians, cyclists, and motorists resulted in fatalities.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>






        <div class="row">


            <!-- Weather & Total Accident Counts-->
            <div class="col-md-3 col-sm-6 column-custom">
                <div class="card card-custom">
                    <img src="static\images\daily_crash_counts.png" class="card-img-top card-img-custom"
                        alt="Temporal Analysis">
                    <div class="card-body">
                        <h5 class="card-title">Temporal Analysis</h5>
                        <p class="card-text">Chronological Patterns: Unveiling the Daily and Monthly Trends of Traffic Accidents in NYC</p>
                        <!-- Button trigger modal -->
                        <a href="#" class="btn btn-light" data-toggle="modal" data-target="#analysisModal5">View More
                            Analysis</a>

                        <!-- Modal -->
                        <div class="modal fade" id="analysisModal5" tabindex="-1" role="dialog"
                            aria-labelledby="analysisModalLabel5" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document"> <!-- Use modal-lg or modal-xl here -->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="analysisModalLabel1">Temporal Analysis</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <img src="static/images/daily_crash_counts.png" class="img-fluid">
                                        <p class="indented-text">The time series chart illustrates daily crash counts over a period, overlaid with both a daily average (green dashed line) and a 7-day moving average (red dashed line). The blue dots represent daily crash data, with spikes indicating days with higher-than-average crashes. The 7-day moving average smooths out daily fluctuations, providing a clearer view of the overall trend, which helps identify patterns or shifts in accident frequency over time. The daily average appears relatively constant, serving as a benchmark against which daily and weekly variations can be assessed. Peaks above the daily average suggest days with unusually high accident counts, while troughs indicate fewer accidents than average.</p>

                                        <h5 class="modal-subtitle">Seasonality by Month</h5>
                                        <img src="static/images/seasonality_month.png" class="img-fluid">
                                        <p class="indented-text">The line graph displays the monthly crash count for 2022. The x-axis represents the month of the year, while the y-axis shows the number of crashes. The blue line indicates the actual number of crashes each month, while the red dashed line represents the monthly average crash count for the year.</p>
                                        <p class="indented-text">There's a noticeable fluctuation in crash numbers. Notably, there is a significant peak around the middle of the year, particularly in May and June. The number of crashes remains high until October, coinciding with the onset of colder days when people tend to stay indoors. There is a sharp decline in the number of crashes during holiday seasons, particularly at the beginning and end of the year.</p>


                                        <h5 class="modal-subtitle">Aggregated Temporal Pattern by Day of the Week and time of the days</h5>
                                        <img src="static/images/accidents_by_time_analysis.png" class="img-fluid">
           
                                        <p class="indented-text">We identify that accident counts peak on Friday and during rush hours. </p>
                                        <p class="indented-text">Let's also dive into the nonmotorists-involved cases. </p>
          
                                        <img src="static/images/ts_nonmotorist.png" class="img-fluid">
                                        <p class="indented-text">Unsurprisingly, most nonmotorists accidents take place during rush hours and weekdays, with Friday standing out the most. </p>

                                        <h5 class="modal-subtitle">Disaggregated Time Study</h5>
                                        <img src="static/images/heatmap_by_weekday_month.png" class="img-fluid">
                                        <img src="static/images/heatmap_by_weekday_hour.png" class="img-fluid">
                                        <p class="indented-text">The heatmap displays the number of accidents by weekday and hour, providing a detailed temporal breakdown of when accidents occur. Darker shades indicate higher accident counts, revealing that midweek days, particularly during the hours of 3 pm to 6 pm, see the highest frequency of accidents, possibly due to rush hour traffic. Saturday evenings also show an elevated number of accidents. In contrast, the early morning hours across all days have the lowest occurrence, likely due to reduced traffic. This visualization underscores the critical times when road safety measures could be intensified to prevent accidents, especially during the busiest hours of the week. </p>
                                        <img src="static/images/heatmap_by_month_hour.png" class="img-fluid">
           

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-3 col-sm-6 column-custom">
                <!--Distribution of Vehicle Types Involved-->
                <div class="card card-custom">
                    <img src="static\images\detailed_vehicle_type_distribution.png"
                        class="card-img-top card-img-custom"
                        alt="Vehicle Type">
                    <div class="card-body">
                        <h5 class="card-title">Vehicle Type</h5>
                        <p class="card-text">Comprehensive Analysis of Vehicle Types in Traffic Accidents: Identifying Patterns and Risks</p>
                        <!-- Button trigger modal -->
                        <a href="#" class="btn btn-light" data-toggle="modal" data-target="#analysisModal6">View More
                            Analysis</a>

                        <!-- Modal -->
                        <div class="modal fade" id="analysisModal6" tabindex="-1" role="dialog"
                            aria-labelledby="analysisModalLabel6" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document"> <!-- Use modal-lg or modal-xl here -->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="analysisModalLabel">Vehicle Type</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <img src="static/images/detailed_vehicle_type_distribution.png"
                                            class="img-fluid">
                                        <p class="indented-text">This bar chart illustrates the distribution of different types of vehicles involved in accidents. Sedans lead, followed closely by station wagons/sport utility vehicles, indicating these vehicle types are more frequently involved in accidents, which could correlate with their prevalence on the roads. Other types, like taxis, bikes, and e-bikes, have a smaller representation, suggesting fewer incidents. Notably, there are very few accidents involving more specialized vehicles such as ambulances and e-scooters.</p>
                                        <img src="static/images/general_distribution_vehicle_type.png"
                                            class="img-fluid">
                                        <p class="indented-text">The chart presents a generalized overview of the types of vehicles most often implicated in traffic incidents. Cars are the most common vehicle type involved, followed by SUVs, indicating a higher incidence of accidents with these vehicles. The involvement of cyclists is also significant, suggesting a potential area of focus for improving road safety for non-motorized traffic. Trucks, scooters, emergency vehicles, and motorcycles are involved in accidents less frequently, according to this data. It's important for urban planners and traffic safety officials to consider these patterns when designing interventions to reduce traffic accidents.</p>
                                        
                                        <img src="static/images/distribution_vehicle_type_comparison.png"
                                            class="img-fluid">
                                        <p class="indented-text">The graph presents a side-by-side comparison of vehicle types involved in accidents, categorized into general and detailed distributions. On the left, the 'General Distribution' chart simplifies vehicle types into broader categories such as 'Car' and 'SUV', showing that cars are the most frequently involved in accidents. On the right, the 'Detailed Distribution' provides a more nuanced view, breaking down the categories further—'Sedan', 'Station Wagon/Sport Utility Vehicle', and so forth. Both graphs highlight that standard passenger vehicles like sedans and SUVs are the most common in accidents, suggesting they are either more numerous on the roads or more prone to incidents. The detailed chart also illustrates the involvement of other specific vehicle types, like taxis and motorcycles, providing a clearer picture for targeted road safety strategies.</p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-md-3 col-sm-6 column-custom">
                <!--Top 10 Contributing Factors-->
                <div class="card card-custom">
                    <img src="static\images\clustering_nyu.png" class="card-img-top card-img-custom"
                        alt="Clustering Model Result">
                    <div class="card-body">
                        <h5 class="card-title">Clustering Model Result</h5>
                        <p class="card-text">Mapping Accident Clusters Around Major New York Universities for Urban Safety Analysis</p>
                        <!-- Button trigger modal -->
                        <a href="#" class="btn btn-light" data-toggle="modal" data-target="#analysisModal7">View More
                            Analysis</a>

                        <!-- Modal -->
                        <div class="modal fade" id="analysisModal7" tabindex="-1" role="dialog"
                            aria-labelledby="analysisModalLabel7" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document"> <!-- Use modal-lg or modal-xl here -->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="analysisModalLabel7"> Clustering Model Result</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h5 class="modal-subtitle">arcGIS map visualization can be found in this link:
                                            <a href="https://arcg.is/0H9ej8" target="_blank">https://arcg.is/0H9ej8</a>
                                        </h5>  

                                        <img src="static/images/clustering_nyu.png"
                                            class="img-fluid">
                                        <h5 class="modal-subtitle">Clustering near New York University</h5>
                                        <br>
                                        <img src="static/images/clustering_columbia.png"
                                            class="img-fluid">
                                        <h5 class="modal-subtitle">Clustering near Columbia University</h5>
                                        <br>
                                        <p class="indented-text">The two visualizations provided appear to be the outcomes of a K-Means clustering analysis applied to accident data in New York City, with one focusing on the area near Columbia University and the other near New York University. The key variables considered in the clustering process include precipitation levels, the time of accidents, and the severity of accidents. Despite the thoughtful selection of variables, the results seem to show limitations in terms of producing visually distinctive groupings.</p>
                                        <p class="indented-text">This limitation could be due to the inherent complexity and variability of accident data, where significant overlaps in conditions and outcomes are common, making it challenging for clustering algorithms to find clear separations. It's possible that the factors considered, while relevant, are not sufficient to create distinct groupings or that the scale of the map does not allow for easy visual discrimination of clusters.</p>
                                        <p class="indented-text">Despite the challenges in differentiating clusters visually, the maps offer useful observations. For instance, a comparison between the regions surrounding Columbia University (uptown) and New York University (downtown) indicates a disparity in accident occurrence, with Columbia's uptown vicinity experiencing a reduced number of incidents relative to the bustling downtown near NYU. Conversely, the similarity in the color patterns across both areas suggests that the clustering outcomes do not reveal any significant variance between the environments of the two institutions.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





            
          
        </div>




    
    </div>
    <!-- Custom Script -->
    <script src="../static/js/analysis_logic.js"></script>
</body>

</html>