<!DOCTYPE html>
<html>

<head>
    <title>Motor Collision - Columbia University</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

    <!-- Leaflet JS -->
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

    <!-- D3 library -->
    <script src="https://d3js.org/d3.v6.min.js"></script>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>


<body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-custom fixed-top">
        <div class="container-fluid">
            <!-- Branding and logo: update the href to link to Columbia University's page if desired -->
            <a class="navbar-brand" href="https://www.columbia.edu/" style="line-height: 1;">
                <div>Columbia University</div>
                <div class="subtitle">in the city of New York</div>
            </a>
            <div class="vertical-line"></div>
            <a class="navbar-brand brand-secondary" href="/">Motor Vehicle Collision Dashboard</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/analysis_board">Analysis Board</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/api">API Documentation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid" style="padding-top: 100px;">

        
        <div class="row">

            <!-- Temporal Analysis-->
            <div class="col-lg-4 col-md-4 col-sm-6 column-custom">
                <div class="card card-custom">
                    <img src="static\images\daily_crash_counts.png" class="card-img-top card-img-custom"
                        alt="Temporal Analysis">
                    <div class="card-body">
                        <h5 class="card-title">Temporal Analysis</h5>
                        <p class="card-text">Chronological Patterns: Unveiling the Daily and Monthly Trends of Traffic
                            Accidents in NYC</p>
                        <!-- Button trigger modal -->
                        <a href="#" class="btn btn-light" data-toggle="modal" data-target="#analysisModal1">View More
                            Analysis</a>

                        <!-- Modal -->
                        <div class="modal fade" id="analysisModal1" tabindex="-1" role="dialog"
                            aria-labelledby="analysisModalLabel1" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document"> <!-- Use modal-lg or modal-xl here -->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="analysisModalLabel1">Temporal Analysis</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h5 class="modal-subtitle">Daily Time Series</h5>
                                        <img src="static/images/daily_crash_counts.png" class="img-fluid">
                                        <p class="indented-text"> The time series chart illustrates daily crash counts
                                            over a period, overlaid with both a daily average (green dashed line) and a
                                            7-day moving average (red dashed line). The blue dots represent daily crash
                                            data, with spikes indicating days with higher-than-average crashes. The
                                            7-day moving average smooths out daily fluctuations, providing a clearer
                                            view of the overall trend over time. We can observe that:</p>
                                        <ul style = "color:black"> 
                                    
                                            <li>There is a weekly seasonality in accidents.</li>
                                            <li>Troughs, indicating fewer accidents than average, usually occur in winter and during holiday seasons.</li>
                                            <li>Summer is the peak season for accidents.</li>
                                        </ul>
                                        <br>
                                        <h5 class="modal-subtitle text-align-left">Seasonality by Month</h5>
                                        <img src="static/images/seasonality_month.png" class="img-fluid">
                                        <p class="indented-text">The line graph displays the monthly crash count for
                                            2022. The x-axis represents the month of the year, while the y-axis shows
                                            the number of crashes. The blue line indicates the actual number of crashes
                                            each month, while the red dashed line represents the monthly average crash
                                            count for the year. We can observe that:</p>
                                        <ul style="color:black">
                                            
                                                <li>There is a monthly seasonality in accidents.</li>
                                                <li>there is a significant peak around the middle of the year,
                                                    particularly in May and June. The number of crashes remains high until
                                                    October, coinciding with the onset of colder days when people tend to stay
                                                    indoors.</li>
                                                <li>There is a sharp decline in the number of crashes during holiday
                                                    seasons, particularly at the beginning and end of the year.</li>
                                                </ul>
                                        <br>
                                        <h5 class="modal-subtitle text-align-left">Aggregated Temporal Pattern by Day of the Week and
                                            time of the days</h5>
                                        <img src="static/images/accidents_by_time_analysis.png" class="img-fluid">
                                        <p class="indented-text">Let's also dive into the non-motorists-involved cases.
                                        </p>

                                        <img src="static/images/ts_nonmotorist.png" class="img-fluid">
                                        <br>
                                        <p class="indented-text"> We can observe that: </p>
                                            <ul style="color:black">
                                                <li>Pedestrians are more likely to be involved than cyclists in accidents that include non-motorists victims.</li>
                                                <li>Accident counts peak on Friday and during rush hours.</li>
                                            </ul>
                                        <br>
                                        <h5 class="modal-subtitle text-align-left">Disaggregated Time Study</h5>
                                        <img src="static/images/heatmap_by_weekday_month.png" class="img-fluid">
                                        <img src="static/images/heatmap_by_weekday_hour.png" class="img-fluid">
                                        <img src="static/images/heatmap_by_month_hour.png" class="img-fluid">
                                        <p class="indented-text">These heatmaps display the number of accidents by day of week 
                                            and month, by day of week and hour, and by month and hour, respectively, where 
                                            darker shades indicate higher accident counts. We can make the following observations:</p>
                                            <ul style = "color:black">  
                                                <li>Accidents during working days peak during working hours, while being more evenly distributed 
                                                    throughout the day (even at night hours) on weekends.</li>
                                                <li>Also, Midweek days, particularly Fridays during the hours of 3 pm to 6 pm, see the highest frequency of
                                                    accidents.</li>
                                                <li>From May to August, between 3 pm and 5 pm, peak accident counts are observed.</li> </ul>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


             <!-- Weather & Total Accident Counts-->
             <div class="col-lg-4 col-md-4 col-sm-6 column-custom">
                <div class="card card-custom">
                    <img src="static\images\weather_totalcount.png" class="card-img-top card-img-custom"
                        alt="Weather & Total Accident Counts">
                    <div class="card-body">
                        <h5 class="card-title">Weather & Total Accident Counts</h5>
                        <p class="card-text">Analyzing the Influence of Weather, Temperature, and Precipitation on
                            Traffic Accident Trends in New York City During 2022</p>
                        <!-- Button trigger modal -->
                        <a href="#" class="btn btn-light" data-toggle="modal" data-target="#analysisModal2">View More
                            Analysis</a>

                        <!-- Modal -->
                        <div class="modal fade" id="analysisModal2" tabindex="-1" role="dialog"
                            aria-labelledby="analysisModalLabel2" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document"> <!-- Use modal-lg or modal-xl here -->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="analysisModalLabel2">Weather & Total Accident Counts
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <img src="static/images/weather_totalcount.png" class="img-fluid">
                                        <p class="indented-text">The boxplots depict how accident numbers in New York
                                            City during
                                            2022 varied across various weather conditions. We observe that:</p>
                                            <ul style="color:black">
                                                <li>Rain and cloudy weather show
                                                    a wide range
                                                    of accident counts, with rain exhibiting some high outliers. </li>
                                                <li>Clear days have a relatively compact
                                                    distribution
                                                    but with a slight skew towards higher accident counts.</li>
                                                <li>Snowy conditions have
                                                    fewer accidents overall and display a tight distribution with fewer outliers,
                                                    likely due to limited samples (as there were only 18 snowy days in 2022) in our dataset. </li>
                                            </ul> 
                                        <p class="indented-text">Overall, the
                                            variability in accident counts is greatest during
                                            rainy and cloudy weather, possibly due to the impact of these
                                            conditions on visibility
                                            and road surface conditions, affecting driving safety.</p>
                                        <br>
                                        <p class="indented-text">Lets's dive into additional weather details to examine the impact of weather on daily accident counts.</p>
                                    
                                        <img src="static/images/wind_totalcounts.png" class="img-fluid">
                                        <img src="static/images/accident_distribution_by_wind_level.png"
                                            class="img-fluid">
                                        <br>
                                       
                                        <img src="static/images/temp_totalcounts.png" class="img-fluid">
                                        <img src="static/images/accident_distribution_by_temp_category.png"
                                            class="img-fluid">
                                        <br>
                                       
                                        <img src="static/images/precip_totalcount.png" class="img-fluid">
                                        <img src="static/images/accident_distribution_by_precip_level.png"
                                            class="img-fluid">        
                                        <br>
                                       
                                        <img src="static/images/vis_totalcount.png" class="img-fluid">
                                        <img src="static/images/accident_distribution_by_vis_level.png"
                                            class="img-fluid">

                                        <p class="indented-text">
                                                The patterns mostly align with our general expectation that more crashes tend to occur on days with bad weather conditions,
                                                partly confirming the validity of our dataset. </p>
                                                <ul style="color:black">
                                                <li> <strong>Wind Level: </strong> On days with strong winds, the median number of crashes tend to 
                                                    be higher than the other and we see 
                                                    high outliers of crashes on days with "small tree sway" wind level.
                                                </li>
                                                <li><strong>Temperature: </strong> We have the most day counts for warm and moderate temperatures, with moderate days 
                                                    showing the greatest spread of data points across all temperatures. We observe a high median number of crashes on hot days. 
                                                    Warm days also exhibit a slightly higher median number of crashes. </li>
                                                <li><strong>Precipitation: </strong> We observe the highest median, 25th quantile, and 75th
                                                     quantile number of traffic crashes, as well as high outliers, on days with heavy precipitation. Additionally, 
                                                    the median number of traffic crashes on moderate precipitation days is the lowest.</li>
                                                <li><strong>Visibility: </strong> Most days are of good visibility in 2022. The median number of crashes are on a similar level across all 
                                                    visibility levels. We identify some high outliers and a higher 25th quantile number on days with poor visibility.</li>
                               
                                            </ul> 
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-4 col-sm-6 column-custom">
                <!--Top 10 Contributing Factors-->
                <div class="card card-custom">
                    <img src="static\images\top_contributing_factors.png" class="card-img-top card-img-custom"
                        alt="Contributing Factors">
                    <div class="card-body">
                        <h5 class="card-title">Top Contributing Factors</h5>
                        <p class="card-text">Examining the Specific Weather Conditions Affecting Accident Contributing
                            Factors in NYC </p>
                        <!-- Button trigger modal -->
                        <a href="#" class="btn btn-light" data-toggle="modal" data-target="#analysisModal3">View More
                            Analysis</a>

                        <!-- Modal -->
                        <div class="modal fade" id="analysisModal3" tabindex="-1" role="dialog"
                            aria-labelledby="analysisModalLabel3" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document"> <!-- Use modal-lg or modal-xl here -->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="analysisModalLabel3"> Top Contributing Factors</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h5 class="modal-subtitle">Overall Accident Counts by Contributing Factors</h5>
                                        <img src="static/images/top_contributing_factors.png" class="img-fluid">
                                        <p class="indented-text">The plot shows a count of accidents sorted by
                                            contributing factors, arranged in descending order. In the chart, 'Driver inattention/Distraction' 
                                            emerges as the most prevalent contributing factor to accidents, closely followed by 'Failure to Yield 
                                            Right-of-Way'—a characteristic pattern observed in NYC.
                                        </p>
                                        <br>
                                        <p class="indented-text">Let's dive into the influence of weather conditions on the contributing factors.
                                        </p>


                                        <img src="static/images/contributingfactors_weather_top10.png"
                                            class="img-fluid">
                                        <img src="static/images/contributingfactors_moreweather_top10.png"
                                            class="img-fluid">

                                        <img src="static/images/contributingfactors_nonmotorist.png" class="img-fluid">
                                        <p class="indented-text"> We identify that:</p>
                                            <ul style="color:black">
                                                <li>"Driver Inattention/Distraction" consistently dominates
                                                    as a leading factor across all conditions and accident types, maintaining
                                                    its prominence. </li>
                                                <li>On snowy days, "Failure to Yield Right-of-Way" is also
                                                    prevalent, constituting 51.77% of pedestrian-involved accidents and 24.64%
                                                    of cyclist-involved accidents.</li>
                                                <li>On freezing cold days, "Unsafe Speed" is notably more problematic, with a 
                                                    significantly higher relative frequency compared to other seasons.
                                                </li>
                                                <li>A noteworthy trend emerges when comparing contributing factors between pedestrians 
                                                    and cyclists, with "Bicyclist error" taking a more significant role in causing accidents, surpassing "Pedestrian
                                                    error" in cases involving non-motorists.</li>
                                            </ul>
                                        <br>
                                        <p class="indented-text">The last set of plots directs us to take a closer look into 
                                            the impact of additional weather details on accidents involving cyclists, considering some noticeable
                                            differences across various weather conditions. In contrast, the plot for
                                            pedestrian-involved accidents show few discernible differences. Note that in the rightmost chart, despite
                                            variations in contributing factors across different weather conditions for
                                            accidents involving both pedestrians and cyclists, the total number of cases
                                            is 45, potentially tempering the observable effects shown in this plot. </p>
                                        <br>
                                        <img src="static/images/contributingfactors_cyclists.png" class="img-fluid">
                                        <p class="indented-text"> Other than the already discussed two most prominent contributing factors, we take a 
                                            closer look at the Bicyclist-specific causes here.
                                            Some specific weather conditions appear to amplify the role of "Bicyclist Error" in
                                            contributing to accidents involving cyclists. 
                                            Particularly, "Bicyclist Error/Confusion" becomes more pronounced on: </p>
                                            <ul style="color:black">
                                                <li>Extremely cold days</li>
                                                <li>Days with poor visibility</li>
                                                <li>Days with significantly strong wind intensity.</li>
                                            </ul>
                                     
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-6 column-custom">
                <!-- Severity of Accidents -->
                <div class="card card-custom">
                    <img src="static\images\severity_weather_top10.png" class="card-img-top card-img-custom"
                        alt="Severity of Accidents">
                    <div class="card-body">
                        <h5 class="card-title">Severity of Accidents</h5>
                        <p class="card-text">A Weather-Centric Analysis of Accident Outcomes in NYC's High-Risk Zones of
                            2022 </p>
                        <!-- Button trigger modal -->
                        <a href="#" class="btn btn-light" data-toggle="modal" data-target="#analysisModal4">View More
                            Analysis</a>

                        <!-- Modal -->
                        <div class="modal fade" id="analysisModal4" tabindex="-1" role="dialog"
                            aria-labelledby="analysisModalLabel4" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document"> <!-- Use modal-lg or modal-xl here -->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="analysisModalLabel4">Severity of Accidents</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h5 class = "modal-subtitle" style = "text-align: left"> Note:</h5>
                                        <p class ="indented-text"> To simplify the discussion, we classify 
                                            the accidents based on the total number of injuries and deaths. An accident 
                                            is labeled as 'Minor' if there are no injuries or deaths, 'Serious' if there 
                                            are injuries but no deaths, and 'Fatal' if it involves deaths. Within the 
                                            'Serious' category, accidents are further divided into subcategories: 
                                            'Serious (Low)' with 0-3 injuries, 'Serious (Medium)' with 3-10 injuries, 
                                            and 'Serious (High)' with more than 10 injuries. In the 'Fatal' category, 
                                            accidents are additionally segmented into 'Fatal' with 0-3 deaths and 'Very 
                                            Fatal' with more than 3 deaths. 
                                        </p>
                                        <img src="static/images/severity_weather_top10.png" class="img-fluid">
                                        <img src="static/images/severity_moreweather_top10.png" class="img-fluid">
                                        <p class="indented-text">We can discern subtle distinctions among categories:</p>
                                            <ul style="color:black">
                                                <li>The occurrence of very fatal cases seems to be higher on days
                                                    with heavy precipitation and higher temperatures compared to days with no
                                                    rain and milder temperatures.</li>
                                                <li>Within the visibility category, there is a lower frequency of minor cases on days with poor visibility
                                                    compared to those with clearer visibility.</li>
                                            </ul>
                                            <p class="indented-text">However, we are unable to pinpoint significant differences across categories, and therefore, there are
                                            no clear clues regarding the degree of impact weather has on the severity of
                                            traffic accidents. </p>
                                        <br>
                                        <h5 class="modal-subtitle" style = "text-align:left">Relative Frequency of Serious Accidents in
                                            Non-Motorists-Involved Cases </h5>
                                        <p class="indented-text"> Let's categorize accidents based on the parties involved and delve into each category more closely. 
                                            The defined categories include: </p>
                                            <ul style="color:black">
                                                <li><strong>Only Pedestrians: </strong> Accidents involving pedestrians victims exclusively.</li>
                                                <li><strong>Only Cyclists: </strong> Accidents involving cyclists victims exclusively.</li>
                                                <li><strong>Pedestrians & Motorists: </strong> Accidents involving both pedestrians and motorists victims.</li>
                                                <li><strong>Pedestrians & Cyclists: </strong> Accidents involving both pedestrians and cyclists victims.</li>
                                                <li><strong>Cyclists & Motorists:  </strong>  Accidents involving both cyclists and motorists victims.</li>
                                                <li><strong>Pedestrians, Cyclists, and Motorists:  </strong> Accidents involving pedestrians, cyclists, and motorists victims.</li>
                                            </ul>
                                            <p class="indented-text">Accidents exclusively involving motorists victims are excluded from the analysis due to their high frequency, 
                                            which could overshadow the presence of the other two types of cases.</p>
                                        <p class="indented-text">Note that we define involvement by whether the party
                                            sustains injuries and/or fatalities in the accident. Specifically, our
                                            analysis focuses on accidents with a severity level beyond minor, meaning
                                            there are injuries and/or fatalities.
                                        </p>
                                        <img src="static/images/details_nonmotorist.png" class="img-fluid">

                                        <p class="indented-text">These adjacent plots display accident counts and the
                                            relative frequency of accidents at various severity levels involving
                                            nonmotorists. We observe that:</p>
                                            <ul style="color:black">
                                                <li>Pedestrians are more susceptible
                                                    to injuries in accidents, with the majority involving fewer than 3 injuries. </li>
                                                <li>As the number of parties involved in an accident increases, the severity
                                                    level tends to rise. Notably, the two accidents involving pedestrians,
                                                    cyclists, and motorists resulted in fatalities.</li>
                                            </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-4 col-sm-6 column-custom">
                <!--Distribution of Vehicle Types Involved-->
                <div class="card card-custom">
                    <img src="static\images\detailed_vehicle_type_distribution.png" class="card-img-top card-img-custom"
                        alt="Vehicle Type">
                    <div class="card-body">
                        <h5 class="card-title">Vehicle Type</h5>
                        <p class="card-text">Comprehensive Analysis of Vehicle Types in Traffic Accidents: Identifying
                            Patterns and Risks</p>
                        <!-- Button trigger modal -->
                        <a href="#" class="btn btn-light" data-toggle="modal" data-target="#analysisModal5">View More
                            Analysis</a>

                        <!-- Modal -->
                        <div class="modal fade" id="analysisModal5" tabindex="-1" role="dialog"
                            aria-labelledby="analysisModalLabel5" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document"> <!-- Use modal-lg or modal-xl here -->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="analysisModalLabel5">Vehicle Type</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <img src="static/images/detailed_vehicle_type_distribution.png"
                                            class="img-fluid">
                                        <p class="indented-text">This bar chart illustrates the distribution of
                                            different types of vehicles involved in accidents. Sedans lead, followed
                                            closely by station wagons/sport utility vehicles, which could correlate with
                                            their prevalence on the roads. Other vehicle types, like taxis, bikes, and e-bikes,
                                            have a smaller representation, suggesting fewer incidents. Notably, there
                                            are very few accidents involving more specialized vehicles such as
                                            ambulances and e-scooters.</p>
                                        <img src="static/images/general_distribution_vehicle_type.png"
                                            class="img-fluid">
                                        <p class="indented-text">The chart presents a generalized overview of the types
                                            of vehicles most often implicated in traffic incidents. Cars are the most
                                            common vehicle type involved, followed by SUVs. <strong>The involvement of cyclists is
                                                also significant, suggesting a potential area of focus for improving road
                                                safety for non-motorized traffic.</strong> Trucks, scooters, emergency vehicles, and
                                            motorcycles are involved in accidents less frequently, according to this
                                            data. </p>

                                        <img src="static/images/distribution_vehicle_type_comparison.png"
                                            class="img-fluid">
                                        <p class="indented-text">The graph presents a side-by-side comparison of vehicle
                                            types involved in accidents, categorized into general and detailed
                                            distributions. On the left, the 'General Distribution' chart simplifies
                                            vehicle types into broader categories such as 'Car' and 'SUV'. On the right, the
                                            'Detailed Distribution' provides a more nuanced view, breaking down the
                                            categories further—'Sedan', 'Station Wagon/Sport Utility Vehicle', and so
                                            forth. </p>
                                        <p class = "indented-text">
                                            Both graphs highlight that standard passenger vehicles like sedans
                                            and SUVs are the most common in accidents, suggesting they are either more
                                            numerous on the roads or more prone to incidents. The detailed chart also
                                            illustrates the involvement of other specific vehicle types, like taxis and
                                            motorcycles, providing a clearer picture for targeted road safety
                                            strategies.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-4 col-sm-6 column-custom">
                <!--clustering-->
                <div class="card card-custom">
                    <img src="static\images\clustering_nyu.png" class="card-img-top card-img-custom"
                        alt="Clustering Model Result">
                    <div class="card-body">
                        <h5 class="card-title">Clustering Model Result</h5>
                        <p class="card-text">Mapping Accident Clusters Around Major New York Universities for Urban
                            Safety Analysis</p>
                        <!-- Button trigger modal -->
                        <a href="#" class="btn btn-light" data-toggle="modal" data-target="#analysisModal7">View More
                            Analysis</a>

                        <!-- Modal -->
                        <div class="modal fade" id="analysisModal7" tabindex="-1" role="dialog"
                            aria-labelledby="analysisModalLabel7" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document"> <!-- Use modal-lg or modal-xl here -->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="analysisModalLabel7"> Clustering Model Result</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h5 class="modal-subtitle">arcGIS map visualization can be found in this link:
                                            <a href="https://arcg.is/0H9ej8" target="_blank">https://arcg.is/0H9ej8</a>
                                        </h5>

                                        <img src="static/images/clustering_nyu.png" class="img-fluid">
                                        <h5 class="modal-subtitle">Clustering near New York University</h5>
                                        <br>
                                        <img src="static/images/clustering_columbia.png" class="img-fluid">
                                        <h5 class="modal-subtitle">Clustering near Columbia University</h5>
                                        <br>
                                        <p class="indented-text">The two visualizations provided appear to be the
                                            outcomes of a K-Means clustering analysis applied to accident data in New
                                            York City, with one focusing on the area near Columbia University and the
                                            other near New York University. The key variables considered in the
                                            clustering process include precipitation levels, the time of accidents, and
                                            the severity of accidents. Despite the thoughtful selection of variables,
                                            the results seem to show limitations in terms of producing visually
                                            distinctive groupings.</p>
                                        <p class="indented-text">This limitation could be due to the inherent complexity
                                            and variability of accident data, where significant overlaps in conditions
                                            and outcomes are common, making it challenging for clustering algorithms to
                                            find clear separations. It's possible that the factors considered, while
                                            relevant, are not sufficient to create distinct groupings or that the scale
                                            of the map does not allow for easy visual discrimination of clusters.</p>
                                        <p class="indented-text">Despite the challenges in differentiating clusters
                                            visually, the maps offer useful observations. For instance, a comparison
                                            between the regions surrounding Columbia University (uptown) and New York
                                            University (downtown) indicates a disparity in accident occurrence, with
                                            Columbia's uptown vicinity experiencing a reduced number of incidents
                                            relative to the bustling downtown near NYU. Conversely, the similarity in
                                            the color patterns across both areas suggests that the clustering outcomes
                                            do not reveal any significant variance between the environments of the two
                                            institutions.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>





    </div>
    <!-- Custom Script -->
    <script src="../static/js/analysis_logic.js"></script>
</body>

</html>