<!DOCTYPE html>
<html>

<head>
    <title>Motor Collision - Columbia University</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

    <!-- Leaflet JS -->
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

    <!-- D3 library -->
    <script src="https://d3js.org/d3.v6.min.js"></script>

    <!-- Bootstrap JS and its dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>


<body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-custom fixed-top">
        <div class="container-fluid">
            <!-- Branding and logo: update the href to link to Columbia University's page if desired -->
            <a class="navbar-brand" href="https://www.columbia.edu/" style="line-height: 1;">
                <div>Columbia University</div>
                <div class="subtitle">in the city of New York</div>
            </a>
            <div class="vertical-line"></div>
            <a class="navbar-brand brand-secondary" href="/">Motor Vehicle Collision Dashboard</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/analysis_board">Analysis Board</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/api">API Documentation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main content -->
    <div class="container-fluid" style="padding-top: 100px;"> <!-- Adjust padding to fit navbar -->
        <div class="row">
            <!-- Column for the map -->
            <div class="col-md-8" style="padding: 0;">
                <div id="map" style="width: 100%; height: 700px;"></div>
            </div>
            <!-- Column for general information -->
            <div class="col-md-4">
                <table id="info-table">
                    <thead>
                        <tr>
                            <th>Number Accidents</th>
                            <th>Number Injuries</th>
                            <th>Number Deaths</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div id="by_month_chart"></div>
            </div>
        </div>
    </div>

    <!-- Custom Script -->
    <script src="../static/js/index_logic.js"></script>

    <!-- leaflet-choropleth JavaScript -->
    <script type="text/javascript" src="../static/js/choropleth.js"></script>
</body>

</html>